.wrap{
    width: 50%;
    position: relative;
    left: 50%;
    top: 45px;
    transform: translate(-50%, -50%);
}
.search {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 85%;
    position: static;
    display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid firebrick;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: firebrick;
}

.searchButton {
  width: 40px;
  border: 1px solid firebrick;
  background: firebrick;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

img{
  width: 85%;
}

.price{
  font-weight: bold;
  font-size: x-large;
}
.row{
  margin-left: 10px;
}
.basket{
  float: right;
  margin-top: -7px;
  margin-right: 100px;
}

.basket-text{
  text-decoration: none;
  color: black;
}

.btn-2{
  border: none;
  font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: larger;
  margin-left: -150px;
  background: none;
}

.btn-2:hover{
  color: darkgray;
}
