<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="Address">
          <address>
            <br>
            <br>
            <label class="h3">Sepetle.com</label><br>
            Sanayi, Teknopark Blv No: 1 D:9A<br>
            34906 Pendik/İstanbul <br>
            <a href="tel:+902123584545" class="hidden-xs"> <i class="ion-android-call"></i> 0212 358 4545 </a>
          </address>

          <address>
            <strong>Destek</strong><br>
            <a href="mailto:#">contact@sepetle.com</a>
            <br><br>
          </address>
        </div>
      </div>
      <div class="col-sm-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4890.034197605402!2d29.293299903366204!3d40.92629052415876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cada22a9601b2f%3A0xf83f0868c348b10e!2sTeknopark%20%C4%B0stanbul!5e0!3m2!1str!2str!4v1661327039115!5m2!1str!2str" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
</div>
