.payment-info {
  background: firebrick;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
}

.product-details {
  padding: 10px;
}

body {
  background: #eee;
}

.cart {
  background: #fff;
}

.p-about {
  font-size: 12px;
}

.table-shadow {
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
}

.type {
  font-weight: 400;
  font-size: 10px;
}

.form-control.credit-inputs:focus {
  background: lightgrey;
  border: lightgrey;
}

.line {
  border-bottom: 1px solid firebrick;
}

.information span {
  font-size: 12px;
  font-weight: 500;
}

.information {
  margin-bottom: 5px;
}

.items {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
}

.spec {
  font-size: 11px;
}

.images {
  width: 20%;
}

.info{
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-top: 90px;
  margin-left: 20px;
}

.price{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100px;
}

.clear-all{
  float: right;
}